/* sign in pages */

.signInPage {
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.signInForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 340px;
  margin-bottom: 30px;
}

.signInForm__title {
  margin: 0 0 20px;
  font-size: var(--font-size-400);
  text-align: center;
}

.signInForm__link {
  color: var(--color-blue-200);
  transition: 0.1s color ease;
}

.signInForm__link:hover {
  color: var(--color-blue-300);
}
